/* =========================================================
   LIGHT THEME
   ========================================================= */

:root,
[data-theme="light"] {
    color-scheme: light;

    /* Brand */
    --color-primary: #364327;
    --color-primary-strong: #28341c;
    --color-secondary: #9dc88d;
    --color-text-on-accent: #20251c;

    /* Accent */
    --color-accent: #dc7027;
    --color-accent-hover: #c7601d;
    --color-highlight: #f4a309;

    /* Backgrounds */
    --color-background: #f7eee5;
    --color-surface: #fffcf8;
    --color-surface-secondary: #f1e7dc;

    /* Text */
    --color-text: #28341c;
    --color-text-secondary: #68705f;
    --color-text-on-primary: #ffffff;
    --color-text-on-accent: #ffffff;

    /* UI */
    --color-border: #e4dcd2;
    --color-border-subtle: #eee7df;
    

    /* Semantic */
    --color-success: #4d774e;
    --color-warning: #f4a309;
    --color-error: #c94c4c;
}


/* =========================================================
   DARK THEME
   ========================================================= */

[data-theme="dark"] {
    color-scheme: dark;

    /* Brand */
    --color-primary: #9dc88d;
    --color-primary-strong: #b6d9a8;
    --color-secondary: #4d774e;
    --color-text-on-accent: #20251c;

    /* Accent */
    --color-accent: #dc7027;
    --color-accent-hover: #ed8138;
    --color-highlight: #f4a309;

    /* Backgrounds */
    --color-background: #1c1e1b;
    --color-surface: #292c28;
    --color-surface-secondary: #343733;

    /* Text */
    --color-text: #f7f3ed;
    --color-text-secondary: #b7b9b2;
    --color-text-on-primary: #172015;
    --color-text-on-accent: #ffffff;

    /* UI */
    --color-border: #41463f;
    --color-border-subtle: #353a34;

    /* Semantic */
    --color-success: #9dc88d;
    --color-warning: #f4a309;
    --color-error: #e47777;
}